@page
@model SigfoxDeviceManageApp.Pages.Sigfox.DeviceMessagesModel
@{
    ViewData["Title"] = "Device Messages";
}

<div>
    <h4>DeviceDataModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceDataModel.deviceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceDataModel.deviceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceDataModel.deviceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceDataModel.deviceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceDataModel.resisteDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceDataModel.resisteDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceDataModel.temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceDataModel.temperature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceDataModel.humidity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceDataModel.humidity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeviceDataModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
